<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/components/Sidebar/Sidebar.css" type="text/css" />
        <link rel="stylesheet" href="/static/components/common/common.css" type="text/css" />
    </head>

    <body>
            <input type="button" name="toggle"  class="toggle" onclick="openSidebar()" value="☰" />
            <fieldset name="sidebar" class="sidebar">
                <fieldset name="options" class="options">
                <a href="javascript:void(0)" class="closebtn" onclick="closeSidebar()">×</a>
                <hr />
                <a href="javascript:void(0)">Login</a>
                <hr />
                <a href="javascript:void(0)">Register</a>
                <hr />
                <a href="javascript:void(0)">Settings</a>
                </fieldset>
            </fieldset>
    </body>
</html>