body{
    width: 250px;
    height: 100%;
}

.toggle {
    position: fixed;
    top: 25px;
    left: 35px;
}

.sidebar {
    max-width: 120px;
    position: fixed;
    background-color: #111;
    top: 0;
    left: 0;
    overflow: hidden;
    height: 100%;
    transition: all 0.5s ease-out allow-discrete;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar a {
    padding: 20px 25px;
    font-size: 17px;
    text-align: center;
    width: inherit;
    color: white;
}

.sidebar a .current{
    padding: 20px 25px;
    font-size: 17px;
}
.sidebar a:hover {
    color: rgb(255, 0, 0);
}

.sideButton {
    color: white;
}