body{
    width: 250px;
    height: 100%;
}

.toggle {
    position: fixed;
    top: 25px;
    left: 35px;
}

.sidebar {
    position: fixed;
    background-color: #111;
    top: 0;
    left: 0;
    width: 0px;
    overflow: hidden;
    height: 100%;
    transition: 0.5s;
    padding: 10px;
}

.sidebar a {
    padding: 20px 25px;
    font-size: 17px;
    text-align: center;
    width: inherit;
    color: white;
}

.sidebar a .current{
    padding: 20px 25px;
    font-size: 17px;
}
.sidebar a:hover {
    color: rgb(139, 220, 255);
}
.options {
    display: flex;
    flex-direction: column;
}

.sideButton {
    color: white;
}