<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/components/Sidebar/Sidebar.css" type="text/css" />
    </head>

    <body onload="StartSidebar()">
            <input type="button" name="toggle"  class="toggle" onclick="openSidebar()" value="☰" />
            <fieldset name="sidebar" class="sidebar">
                <fieldset id="options" class="options">
                    <a href="javascript:void(0)" class="sideButton" onclick="closeSidebar()">×</a>
                    <hr />
                </fieldset>
            </fieldset>
    </body>
</html>