.quick {
    position: fixed;
    z-index: 20;
    top: 0;
    right: 0;
}

.widget {
    position: fixed;
    z-index: 20;
    top: 0;
    right: 0;
    width: 5%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s ease-out allow-discrete;
}

.quickImage, .quickButton, .quickOptionsIconImage, .quickOptionsIcon {
    margin-top: 7px;
    margin-bottom: 7px;
    width: 30px;
    height: 30px;
}

.chatButton :hover, .chat {
    filter: invert(12%) sepia(78%) saturate(4255%) hue-rotate(238deg) brightness(121%) contrast(148%);}

.notificationButton :hover, .notification {
   filter: invert(13%) sepia(97%) saturate(7481%) hue-rotate(356deg) brightness(94%) contrast(111%);
}

.quickOptionsHeader {
    visibility: hidden;
    margin: 0;
}

.quickOptions {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 30;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 4px 4px rgba(0,0,0,0.12), 
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12);
    border-style: solid;
    border-color: rgb(116, 116, 116);
    border-width: 0px 0px 0px 4px;
    transition: all 0.5s ease-out allow-discrete;
    width: 100px;
    height: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
}

.closeQuickOptions{
    margin-block: 10px;
}

.quickBox {
}