<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/components/Quick/Quick.css" type="text/css" />
    </head>

    <body>
        <div class="quick">
            <fieldset name="widget" class="widget">
                <!-- <a href="javascript:void(0)" class="quickButton">
                    <img class="quickImage" src="/static/components/common/icons/email.png" />
                </a> -->
                <a href="javascript:void(0)" class="quickButton chatButton" onclick="openOptions()">
                    <img class="quickImage" src="/static/components/common/icons/message.png" />
                </a>
                <a href="javascript:void(0)" class="quickButton notificationButton">
                    <img class="quickImage" src="/static/components/common/icons/notification.png" />
                </a>
            </fieldset>
            <fieldset name="quickOptions" class="quickOptions">
                <!-- Modal content -->
                <a href="javascript:void(0)" name="closeChatButton" onclick="closeOptions()">&times;</a>
            </fieldset>
            <fieldset name="chatbox" class="chatbox">
            </fieldset>
        </div>
    </body>
</html>