{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" href="{% static 'components/common/icons/icon.png' %}" type="image/x-icon">
        <link rel="stylesheet" href="{% static 'components/common/css/index.css' %}" type="text/css" />
        <link rel="stylesheet" href="{% static 'components/common/css/common.css' %}" type="text/css" />
    </head>
    <body onload="StartApp()">
        <script type="text/javascript" src="{% static 'components/common/js/index.js' %}"></script>
        <script type="text/javascript" src="{% static 'components/common/js/loader.js' %}"></script>
        <script type="text/javascript" src="{% static 'components/common/js/requests.js' %}"></script>
        <form name="main">
            <input type="hidden" value="" name="data" />
            <input type="hidden" value="" name="user" />
            <input type="hidden" value="" name="url" />
            <div name="container">
                <div id="nav" class="nav"></div>
                <div id="content" class="content"></div>
                <div id="quick" class="quick"></div>
            </div>
        </form>
    </body>
</html>
